@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  width: 100%;
  height: 100dvh;
}

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 215, 16%, 47%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 222, 47%, 11%;
    --border-highlight: 215, 20%, 65%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 270 95% 75%;
    --primary-foreground: 269, 100%, 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;

    --timeline: 215, 25%, 27%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }

  .scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--foreground)) hsl(var(--background));
  }
  .scrollbar::-webkit-scrollbar-track {
    background: hsl(var(--background));
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--foreground));
    border-radius: 6px;
  }
}
